.viewdesk{
	display: block !important;
}
.viewmobile{
	display: none !important;
}

@media screen and (max-width:800px) {
	.viewdesk{
	    display: none !important;
	}
	.viewmobile{
	    display: block !important;
	}
	.conter40menu{
		width: 100% !important;
		max-width: 100% !important;
	}
	.contertitulohome {
	  width: 90%;
	  max-width: 400px;
	  display: block;
	  position: absolute;
	  top: 29%;
	  left: 1%;
	}
	.imghitos1 {
		width: 150%;
	}
	.conter14 {
		width: 100%;
	}
	.conterflex{
		display: block;
	}
	.conter40{
		width: 100%;
	}
	.conter60{
		width: 100%;
	}
	.conter33{
		width: 100%;
	}
	.conter50{
		width: 100%;
	}
	.pad50px{
		padding: 50px 20px;
	}
	.conter95right {
	  width: 95%;
	  display: block;
	  float: none;
	  overflow: hidden;
	  margin: 0 auto;
	}
	.conter95left {
	  width: 95%;
	  display: block;
	  float: none;
	  overflow: hidden;
	  margin: 0 auto;
	}
	.titulomensaje {
	  width: 100%;
	  max-width: 800px;
	  display: block;
	  float: left;
	  position: relative;
	  left: initial;
	  top: inherit;
	  z-index: 3;
	}
	.conterintromensaje {
	  width: 90%;
	  max-width: 550px;
	  display: block;
	  overflow: hidden;
	  background-color: #d7525d;
	  padding: 50px;
	  position: relative;
	  top: initial;
	  right: initial;
	  z-index: 1;
	  margin: 20px auto 20px auto;
	}
	.imgdatomensaje {
	  width: 90%;
	  max-width: 310px;
	  display: block;
	  position: relative;
	  right: initial;
	  bottom: initial;
	  z-index: 2;
	  margin: 0 auto;
	}
	.fixed {
	  position: relative;
	  top: 0px;
	}
	.conter90right {
	  width: 90%;
	  display: block;
	  float: initial;
	  overflow: hidden;
	  margin: 0 auto;
	}
	.conter90left {
	  width: 90%;
	  display: block;
	  float: initial;
	  overflow: hidden;
	  margin: 0 auto;
	}
	.conterintronuestro {
	  width: 90%;
	  max-width: 550px;
	  display: block;
	  overflow: hidden;
	  position: relative;
	  top: initial;
	  right: initial;
	  z-index: 1;
	  margin: 0 auto;
	}
	.conterintronuestro3{
		margin: 20px auto;
	}
	.titulogestion {
	  width: 100%;
	  max-width: 850px;
	  display: block;
	  float: initial;
	  position: relative;
	  left: initial;
	  bottom: inherit;
	  z-index: 3;
	  margin: 0 auto;
	}
	.conterintrogestion {
	  width: 90%;
	  max-width: 450px;
	  display: block;
	  overflow: hidden;
	  background-color: #d7525d;
	  padding: 50px;
	  position: relative;
	  top: inherit;
	  right: inherit;
	  z-index: 1;
	  margin: 20px auto;
	}
	.imgdatomensaje2 {
	  width: 90%;
	  max-width: 410px;
	  display: block;
	  position: relative;
	  right: inherit;
	  bottom: inherit;
	  z-index: 2;
	  margin: 0 auto;
	}
	.displayrevert {
	  display: inherit !important;
	}
	.conter80center {
	  width: 90%;
	  display: block;
	  margin: 0 auto;
	  position: relative;
	}
	.intergest5 {
	  width: 100%;
	  display: block;
	  overflow: hidden;
	  background-color: #d7525d;
	  padding: 20px;
	  position: relative;
	}
	.intergest6 {
	  display: block;
	  width: 90%;
	  margin: 0 auto 50px auto;
	  overflow: hidden;
	  padding: 20px;
	  background-color: #ffffff;
	}
	.conter30{
		width: 100%;
	}
	.conter70{
		width: 100%;
	}
	.conter16 {
	  display: block;
	  width: 33%;
	  overflow: hidden;
	  float: left;
	}
	.conterintrofuturo {
	  width: 100%;
	  max-width: 550px;
	  display: block;
	  overflow: hidden;
	  position: relative;
	  float: right;
	  margin-top: 50px;
	  padding-right: 0px;
	}
	.img62 {
	  display: block;
	  width: 100%;
	  max-width: 500px;
	  position: relative;
	  right: initial;
	  bottom: initial;
	}
	.conter10 {
	  display: block;
	  width: 15%;
	  overflow: hidden;
	  float: left;
	}
	.conter90a {
	  display: block;
	  width: 85%;
	  overflow: hidden;
	  float: left;
	}
	.conterprincipales2 {
	  background-color: #d7525d;
	  width: 100%;
	  display: block;
	  padding: 50px 0px 20px 0px;
	  margin-top: 50px;
	  position: relative;
	  float: left;
	  height: auto;
	  min-height: 200px;
	}
	.conterprincipales3 {
	  background-color: #d7525d;
	  width: 100%;
	  display: block;
	  padding: 50px 0px 20px 0px;
	  margin-top: 50px;
	  position: relative;
	  float: left;
	  height: auto;
	  min-height: 200px;
	}
	.conter20{
		width: 100%;
	}
	.contergraficasprincipales {
	  width: 90%;
	  max-width: 300px;
	  display: block;
	  position: relative;
	  top: initial;
	  overflow: hidden;
	  right: initial;
	  z-index: 2;
	  margin: 0 auto 50px auto;
	}
	.conter80{
		width: 100%;
	}
	.conter70center{
		width: 90%;
		margin: 0 auto;
	}
	.inicadorestruct {
	  display: block;
	  position: relative;
	  left: initial;
	  bottom: inherit;
	  width: 90%;
	  max-width: 350px;
	  margin: 20px auto;
	}
	.conter25{
		width: 100%;
	}
	.indicadorviveros {
	  display: block;
	  position: relative;
	  right: inherit;
	  bottom: inherit;
	  width: 90%;
	  max-width: 350px;
	  z-index: 1;
	  margin: 0 auto;
	}
	.borderleftrojo{
	  border-top: 1px solid #bf1221;
	  border-left: 0px solid #bf1221;
	}
	.borderrightrojo{
		border-top: 1px solid #bf1221;
	  border-right: 0px solid #bf1221;
	}
	.cifras3 {
	  font-family: museo,serif;
	  font-weight: 900;
	  font-style: normal;
	  font-size: 62px;
	  line-height: 63px;
	}
	.borderleft {
		border-top: 1px solid #bf1221;
		border-left: 0px solid #bf1221;
	}
	.conter30movil{
	  display: block;
	  width: 33%;
	  overflow: hidden;
	  float: left;
	}
	.conter70movil{
	  display: block;
	  width: 67%;
	  overflow: hidden;
	  float: left;
	  position: relative;
	}
	.borderrightrojodote {
	  border-right: 0px dotted #bf1221;
	   border-bottom: 1px dotted #bf1221;
	}
	.borderrightblancodote{
	  border-right: 0px dotted #ffffff;
	  border-bottom: 0px dotted #ffffff;
	}
	.martopmovil{
		margin: 20px 0px;
	}
	.padtop20pxmovil{
		padding-top: 20px;
	}
	.minheight175{
		min-height: initial;
	}
	.height100 {
	  min-height: auto;
	  height: auto;
	}
	.martop20pxmovil{
		margin-top: 20px;
	}
	.marbottom20pxmovil{
		margin-bottom: 20px;
	}
	.mar20pxmovil{
		margin: 20px 0px;
	}
	.hojamolvil{
		width: 100px !important; 
	}
	.hojamolvil2{
		width: 100px !important; 
		float: right !important;
	}
	.padtop450 {
	  padding-top: 50px;
	}
	.padtopimgmanch3{
	  margin-top: 20px;
	}
	.pad150pxa {
	  padding-top: 0px !important;
	}
	.iconmovil{
		width: 200px !important;
		display: block;
		margin: 0 auto;
	}
	.celdagri{
		width: 150px;
		display: block;
	}
	.heig200pcmovil{
		height: 200px;
	}
	.titulo1 {
	  font-family: acier-bat-solid,sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size: 29px;
	  color: #bf1221;
	}
	.inversionistas1{
		min-height: 100vh;
	}
























}