*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* --- menu --- */


.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255, .9);
  height: 50px;
  width: 100%;
  z-index: 10;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    background-color: rgba(191,18,33, .9);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    background-color: rgba(191,18,33, .9);
  }
}

.cd-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-logo {
    left: 2.6em;
  }
}

.cd-secondary-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10em;
  /* hidden on small devices */
  display: none;
}
.cd-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em;
}
.cd-secondary-nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block;
  }
}

.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #ffffff;
}
.cd-primary-nav-trigger .cd-menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: #fff;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block;
  }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  /*text-align: center;*/
  padding: 0px ;
  margin: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cd-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-transform: capitalize;*/
}
.cd-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  color: #ffffff;
  text-decoration: none;
}
.no-touch .cd-primary-nav a:hover {
  background-color: #e36767;
}
.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
a.sinformatos{
  padding: 0px !important;
  border-radius: 0px;
}
a.sinformatos:hover{
  background-color: rgba(0, 0, 0, .0) !important;
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem;
  }
}

.cd-intro {
  position: relative;
  height: 100%;
  background: url("../img/cd-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro h1 {
  position: absolute;
  width: 90%;
  max-width: 1170px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-intro h1 {
    font-size: 30px;
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    height: 700px;
  }
}

.cd-main-content {
  position: relative;
  z-index: 1;
}
.cd-main-content p {
  line-height: 1.6;
  margin: 2em 0;
}
@media only screen and (min-width: 1170px) {
  .cd-main-content p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.homecabe {
  width: 110px;
  display: block;
}
.conter40menu {
  width: 40%;
  max-width: 40%;
  height: 100%;
  display: block;
  overflow: hidden;
  float: left;
  background-color: rgba(191,18,33, .9);
}
.conterflex2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.conter40menu .conterflex2 .conter90 {
  height: 80vh;
  display: block;
  padding-top: 10vh;
  max-height: 80vh;
  overflow: hidden;
    overflow-y: hidden;
  overflow-y: hidden;
  overflow-y: auto;
}
ul {
  margin: 0;
  list-style: none;
  text-align: left;
}
li#primermenugrande {
  padding: 6px 0px;
}
.link {
  font-family: museo-sans,sans-serif;
  font-weight: 300 !important;
  font-style: normal;
  font-size: 21px !important;
  cursor: pointer;
  display: block;
  color: #ffffff !important;
}
.conter60menu {
  width: 59.99%;
  max-width: 59.99%;
  height: 100%;
  display: block;
  overflow: hidden;
  float: right;
  position: relative;
}
.activemenu {
  right: 0% !important;
}
.contermenu1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu7 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu8 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
.contermenu10 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #d7525d;
  transition: all .5s;
  right: -100%;
  position: absolute;
  float: left;
}
/*.contermenu1a {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  transition: all .5s;
  left: -100%;
  position: absolute;
  right: 0;
}*/
.conter90intermenu {
  height: auto;
  display: block;
  max-height: 80vh;
  overflow: hidden;
    overflow-y: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  margin: 0 auto;
  width: 90%;
}
.link2 {
  font-family: museo-sans,sans-serif;
  font-weight: 300 !important;
  font-style: normal;
  font-size: 18px !important;
  cursor: pointer;
  display: block;
  color: #ffffff !important;
}

.titulomenu1{
  font-family: museo-sans,sans-serif;
  font-weight: 900 !important;
  font-style: normal;
  font-size: 27px !important;
  cursor: pointer;
  display: block;
  color: #ffffff !important;
  text-transform: uppercase;
}
.max40{
  max-width: 486px !important;
}










/* --- generales --- */

.contergeneral{
  width: 90%;
  max-width: 1400px;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.contergeneral100{
  width: 100%;
  max-width: 1400px;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.min100vh{
  height: auto;
  min-height: 100vh !important;
}
.textintro{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  font-size: 18px;
}
.textitalick{
  font-style: italic;
}
.conter{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
.conterflex{
  width: 100%;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
}
.conterflexmovil{
  width: 100%;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
}
.imgtitulos{
  width: 100%;
  max-width: 500px;
  display: block;
  float: left;
}
.imgtitulos2{
  width: 100%;
  max-width: 400px;
  display: block;
  float: left;
}
.imgtitulosabsolute{
  width: 100%;
  max-width: 500px;
  display: block;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 2;
}
.texto-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.conter10{
  display: block;
  width: 10%;
  overflow: hidden;
  float: left;
}
.conter16{
  display: block;
  width: 16.6%;
  overflow: hidden;
  float: left;
}
.conter20{
  display: block;
  width: 20%;
  overflow: hidden;
  float: left;
}
.conter80{
  display: block;
  width: 80%;
  overflow: hidden;
  float: left;
}
.conter20movil{
  display: block;
  width: 30%;
  overflow: hidden;
  float: left;
}
.conter80movil{
  display: block;
  width: 70%;
  overflow: hidden;
  float: left;
}
.conter30{
  display: block;
  width: 30%;
  overflow: hidden;
  float: left;
}
.conter30movil{
  display: block;
  width: 30%;
  overflow: hidden;
  float: left;
}
.conter25{
  display: block;
  width: 25%;
  overflow: hidden;
  float: left;
}
.conter70{
  display: block;
  width: 70%;
  overflow: hidden;
  float: left;
  position: relative;
}
.conter70movil{
  display: block;
  width: 70%;
  overflow: hidden;
  float: left;
  position: relative;
}
.conter70center{
  display: block;
  width: 70%;
  overflow: hidden;
  margin: 0 auto;
}
.conter90{
  display: block;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}
.conter90a{
  display: block;
  width: 90%;
  overflow: hidden;
  float: left;
}
.conter90left{
  width: 90%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter90right{
  width: 90%;
  display: block;
  float: right;
  overflow: hidden;
}
.conter95left{
  width: 95%;
  display: block;
  float: left;
  overflow: hidden;
}
.conter95right{
  width: 95%;
  display: block;
  float: right;
  overflow: hidden;
}
.conter95{
  width: 95%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.conter33{
  display: block;
  width: 33.33%;
  float: left;
  overflow: hidden;
}
.conter33movil{
  display: block;
  width: 33.33%;
  float: left;
  overflow: hidden;
}
.conter67{
  display: block;
  width: 67%;
  float: left;
  overflow: hidden;
}
.padtop50px{
  padding-top: 50px;
}
.padbot50px{
  padding-bottom: 50px;
}
.padtop30px{
  padding-top: 30px;
}
.padtop20px{
  padding-top: 20px;
}
.conter14{
  width: 14.28%;
  display: block;
  float: left;
  overflow: hidden;
}
p{
  margin: 0;
  padding: 0;
}
.titulo1{
  font-family: acier-bat-solid,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 55px;
color: #bf1221;
}
.titulo3{
  font-family: acier-bat-solid,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 45px;
color: #bf1221;
text-transform: uppercase;
}
.titulo4 {
  font-family: museo,serif;
  font-weight: 300 !important;
  font-style: normal;
  font-size: 40px !important;
  color: #bf1221 !important;
}
.titulo4bold{
  font-family: museo,serif;
  font-weight: 900 !important;
}
.titulo5{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
}
.titulo6{
  font-family: acier-bat-solid,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 38px;
color: #bf1221;
text-transform: uppercase;
}
.titulo7{
  font-family: acier-bat-solid,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 28px;
color: #bf1221;
text-transform: uppercase;
}
.titulo8{
  font-family: acier-bat-solid,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
color: #ffffff;
text-transform: uppercase;
}
.titulo9{
  font-family: canada-type-gibson,sans-serif;
font-weight: 600;
font-style: normal;
font-size: 34px;
line-height: 31px;
}
.titulo10{
  font-family: canada-type-gibson,sans-serif;
font-weight: 600;
font-style: normal;
font-size: 18px;
line-height: 21px;
}
.backrojo{
  background-color: #bf1221;
}
.backrojo2{
  background-color: #d7525d;
}
.backroho3{
  background-color: #d03c49;
}
.backrojo4{
  background-color: #871a3c;
}
.backrojo5{
  background-color: #c11524;
}
.backrojo6{
  background-color: #f2d1d3;
}
.backblanco{
  background-color: #ffffff;
}
.backamarillo{
  background-color: #fcb817;
}
.backazul{
  background-color: #1a78cc;
}
.backverde{
  background-color: #40683d;
}
.blanco{
  color: #ffffff !important;
}
.rojo{
  color: #bf1221 !important;
}
.negro{
  color: #000000 !important;
}
.gris{
  color: #727272 !importnat;
}

.cifras1{
  font-family: museo,serif;
font-weight: 900;
font-style: normal;
font-size: 37px;
line-height: 41px;
}
.cifras2{
  font-family: museo,serif;
font-weight: 900;
font-style: normal;
font-size: 44px;
line-height: 48px;
}
.cifras3{
  font-family: museo,serif;
font-weight: 900;
font-style: normal;
font-size: 80px;
line-height: 81px;
}
.cifras3sup{
 font-family: museo,serif;
font-weight: 900;
font-style: normal;
font-size: 39px;
line-height: 38px;
}
.cifras4{
  font-family: museo,serif;
font-weight: 900;
font-style: normal;
font-size: 60px;
line-height: 63px;
}
.cifras5{
  font-family: museo,serif;
font-weight: 900;
font-style: normal;
font-size: 70px;
line-height: 73px;
}
.cifras6{
  font-family: museo,serif;
font-weight: 900;
font-style: normal;
font-size: 25px;
line-height: 28px;
}
.texto{
  font-family: canada-type-gibson,sans-serif;
font-weight: 300;
font-style: normal;
font-size: 18px;
line-height: 21px;
}
.nota{
  font-family: canada-type-gibson,sans-serif;
font-weight: 300;
font-style: normal;
font-size: 13px;
color: #757575;
}
.texto2{
  font-family: canada-type-gibson,sans-serif;
font-weight: 300;
font-style: normal;
font-size: 18px;
line-height: 21px;
}
.texto4{
  font-family: canada-type-gibson,sans-serif;
font-weight: 300;
font-style: normal;
font-size: 23px;
}
.texto3{
  font-family: canada-type-gibson,sans-serif;
font-weight: 300;
font-style: normal;
font-size: 22px;
}
.texto5{
  font-family: canada-type-gibson,sans-serif;
font-weight: 300;
font-style: normal;
font-size: 15px;
line-height: 18px;
}
.textosemibold{
font-weight: 600 !important;
}
.textosmedium{
  font-weight: 500 !important;
}
.pad20px{
  padding: 20px;
}

.pad50px{
  padding: 50px;
}
.pad50pxb{
  padding: 50px 0px;
}
.martop50px{
  margin-top: 50px;
}
.martop20px{
  margin-top: 20px;
}
.textcenter{
  text-align: center;
}
.textleft{
  text-align: left;
}
.textright{
  text-align: right;
}
.borderleftblanco{
  border-left: 1px solid #ffffff;
}
.borderleft{
  border-left: 1px solid #bf1221;
}
.borderleft2rojo{
  border-left: 3px solid #bf1221;
}
.borderright{
  border-right: 1px solid #ffffff;
}
.borderrightrojo{
  border-right: 1px solid #bf1221;
}
.bordertoprojo{
  border-top: 1px solid #bf1221;
}
.borderleftrojo{
  border-left: 1px solid #bf1221;
}
.borderrightrojodote{
  border-right: 1px dotted #bf1221;
}
.borderrightblancodote{
  border-right: 1px dotted #ffffff;
}
.borderbottomblanco{
  border-bottom: 1px solid #ffffff;
}
.minheight175{
  min-height: 175px;
}
.minheight230{
  min-height: 255px;
}
.min80{
  min-height: 150px;
}
.imgfull{
  width: 100%;
  display: block;
}
.conter40{
  width: 40%;
  display: block;
  float: left;
  position: relative;
  transition: all .5s;
}
.conter60{
  width: 60%;
  display: block;
  float: left;
}
.conter40movil{
  width: 30%;
  display: block;
  float: left;
  position: relative;
  transition: all .5s;
}
.conter60movil{
  width: 70%;
  display: block;
  float: left;
}
.conter60center{
  width: 60%;
  display: block;
  margin: 0 auto;
}
.conter80center{
  width: 80%;
  display: block;
  margin: 0 auto;
  position: relative;
}
.conter50{
  width: 50%;
  display: block;
  float: left;
}
.hrrojo{
  border-top: 1px solid #bf1221;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  width: 100%;
  margin: 20px 0px;
}
.hrrojo2{
  border-top: 1px solid #bf1221;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  width: 80%;
  margin: 20px auto;
}
.hrroj3{
  border-top: 1px dotted #bf1221;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  width: 100%;
  margin: 20px 0px;
}
.hrblanco{
  border-top: 1px solid #ffffff;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  width: 80%;
  margin: 20px auto;
}
.hrblanco2{
  border-top: 1px dotted #ffffff;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  width: 100%;
  margin: 20px auto;
}
.tabla {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
}
/*table {
  display: block;
  overflow-x: auto;
}*/
.borderrojo{
  border-bottom: 2px solid #bf1221;
}
.borderblanco{
  border-bottom: 2px solid #ffffff;
}
.padding5 {
  padding: 5px;
}
.marginright10{
  margin-right: 10px;
}
.odstabla{
  width: 90%;
  max-width: 125px;
  display: block;
  margin: 0 auto;
}
.odstabla2{
  width: 90%;
  max-width: 135px;
  display: block;
  margin: 0 auto;
}
.listado{
  list-style: disc !important;
  padding-left: 18px;
}
.headtable{
  font-family: acier-bat-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 19px;
}
.textupper{
  text-transform: uppercase;
}

.scrollTop {
  position: fixed;
  right: 1%;
bottom: 7%;
  background-color: #BE3F48;
  padding: 12px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  max-width: 50px;
  z-index: 5;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}
.img90{
  width: 90%;
  display: block;
  margin: 0 auto;
}
.opacity0 {
  opacity: 0;
}
.displayrevert{
  display: revert !important;
}








/* --- home --- */

.home1{
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background: rgb(26, 120, 204);
background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(26, 120, 204) 100%);
}
.img1{
  width: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -41px;
  right: 0;
}
.img2{
  width: 90%;
  max-width: 350px;
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}
.img3{
  width: 90%;
  max-width: 150px;
  display: block;
  position: absolute;
  z-index: 2;
  top: 3%;
  left: 2%;
}
.contertitulohome{
  width: 90%;
  max-width: 400px;
  display: block;
  position: absolute;
  top: 18%;
  left: 14%;
}
.titulohome{
  font-family: acier-bat-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 106px;
  line-height: 84px;
}

/* --- hitos --- */
.hitos1{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
  padding-top: 150px;
}
.imghitos1{
  width: 90%;
  max-width: 1300px;
  display: block;
  position: relative;
}

.conterintrohitos{
  width: 90%;
  max-width: 400px;
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  padding: 30px 20px;
  position: absolute;
  top: 10%;
  right: 8%;
  z-index: 1;
}

.hitos2{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.hitos3{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.conteroperativos{
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 50px;
  padding: 25px;
  background-color: #ffffff;
}
.hitos4{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.hitos6{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.hitos5{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.hitos7{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.iconhitosinter{
  display: block;
  width: 90%;
  max-width: 80px;

}

/* --- mensaje --- */
.mensaje1{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding-top: 100px;
}
.titulomensaje{
  width: 100%;
  max-width: 800px;
  display: block;
  float: left;
  position: absolute;
  left: -5%;
  top: 30px;
  z-index: 3;
}
.conterintromensaje{
  width: 90%;
  max-width: 550px;
  display: block;
  overflow: hidden;
  background-color: #d7525d;
  padding: 50px;
  position: absolute;
  top: 2%;
  right: 5%;
  z-index: 1;
}
.imgdatomensaje{
  width: 90%;
  max-width: 310px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.imgdatomensaje2{
  width: 90%;
  max-width: 410px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.mensaje2{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}


/* --- gestion --- */
.gestion1{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding-top: 80px;
}
.titulogestion{
  width: 100%;
  max-width: 850px;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.conterintrogestion{
  width: 90%;
  max-width: 450px;
  display: block;
  overflow: hidden;
  background-color: #d7525d;
  padding: 50px;
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 1;
}
.gestion2{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.separadorrojo{
  width: 100%;
  display: block;
  margin: o auto;
  overflow: hidden;
  padding: 40px 0px;
  margin: 30px 0px;
  background-color: #bf1221;
}
.gestion3{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gestion4{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.gestion5{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.intergest5{
  width: 90%;
  display: block;
  overflow: hidden;
  background-color: #d7525d;
  padding: 20px 50px;
  position: relative;
}
.gestion6{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.intergest6{
  display: block;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px;
  background-color: #ffffff;
}
.gestion7{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.icontabla{
  width: 90%;
  max-width: 50px;
  display: block;
  margin: 0 auto;
}
.iconintertabla{
  width: 90%;
  max-width: 70px;
  display: block;
  float: right;
}
.icontablamatriz{
  width: 90%;
  max-width: 40px;
  display: block;
  float: right;
}
.displayconten{
  display: contents;
}
.icontablanota{
  width: 90%;
  max-width: 30px;
  margin-left: 15px;
  margin-right: 10px;
}
.gestion8{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gestion9{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.imgbilletes{
  width: 90%;
  max-width: 230px;
  display: block;
  padding-top: 20px;
  float: left;
}
.gestion10{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding-bottom: 50px;
}
.gestion11{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.logojav{
  width: 90%;
  display: block;
  float: left;
  max-width: 200px;
  margin-top: 50px;
}
.gestion12{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.conterods8{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods8.jpg")
}
.conterods11{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods11.jpg")
}
.conterods12{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods12.jpg")
}
.conterods13{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods13.jpg")
}
.conterods15{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods15.jpg")
}
.conterods16{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods16.jpg")
}
.conterods1{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods1.jpg")
}
.conterods3{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods3.jpg")
}
.conterods4{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods4.jpg")
}
.conterods5{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods5.jpg")
}
.conterods6{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods6.jpg")
}
.conterods9{
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px 30px 15px;
  margin-top: 50px;
  background: url("../img/backods9.jpg")
}
.imgods{
  width: 90%;
  max-width: 100px;
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}
.imgods2{
  width: 90%;
  max-width: 100px;
  display: block;
  position: relative;
  margin: 10px auto;
  transition: all .5s;

}
.minheigh650px{
  min-height: 650px;
}
.minheigh250px{
  min-height: 250px;
}
.imgodssec{
  width: 90%;
  max-width: 600px;
  display: block;
  float: left;
}
.circuloods{
  width: 90%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
.indicadoresods{
   width: 90%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

/* --- informe --- */
.nuestro1{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
  padding-top: 80px;
}
.conterintronuestro{
  width: 90%;
  max-width: 550px;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;
}
.conterintronuestro2{
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  padding: 50px;
  position: relative;
}
.conterintronuestro2{
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 50px;
  position: relative;
}
.nuestro2{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}





/* --- futuro --- */
.futuro1{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
  padding-top: 100px;
}
.futurograf1{
  width: 90%;
  max-width: 290px;
  display: block;
  margin: 0 auto;

}
.conterintrofuturo{
  width: 40%;
  max-width: 550px;
  display: block;
  overflow: hidden;
  position: relative;
  float: right;
  padding-right: 50px;
}
.gruposicon{
  width: 90%;
  max-width: 450px;
  display: block;
}
.futuro2{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.futuro3{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.futuro4{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.futuro5{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.intersobre{
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px;
  background-color: #ffffff;
}
.img62{
  display: block;
  width: 90%;
  max-width: 400px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.futuro6{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.texto-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.textovestical{
  font-family: canada-type-gibson,sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}
.img64{
  width: 90%;
  max-width: 400px;
  display: block;
  position: absolute;
  bottom: 15%;
  left: 12%;
}
.futuro7{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.img66{
  width: 90%;
  max-width: 400px;
  display: block;
  position: absolute;
  bottom: 15%;
  right: 12%;
  z-index: 2;
}
.futuro8{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.futuro9{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.futuro10{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.iconubi{
  display: block;
  float: left;
  width: 20px;
}
.separacion{
  width: auto;
float: left;
margin-right: 30px;
}
.futuro11{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.futuro12{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.padtop450{
  padding-top: 400px;
}
.padtop650{
  padding-top: 600px;
}
.futuro13{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.futuro14{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.conterprincipales{
  background-color: #d7525d;
  width: 100%;
  display: block;
  padding: 50px 0px 20px 0px;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}
.imgprinci {
  width: 90%;
  max-width: 120px;
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -60px;
}
.conterprincipales2{
  background-color: #d7525d;
  width: 33.33%;
  display: block;
  padding: 50px 0px 20px 0px;
  margin-top: 50px;
  position: relative;
  float: left;
  height: auto;
  min-height: 200px;
}
.conterprincipales3{
  background-color: #d7525d;
  width: 50%;
  display: block;
  padding: 50px 0px 20px 0px;
  margin-top: 50px;
  position: relative;
  float: left;
  height: auto;
  min-height: 200px;
}
.conter100principi{
  height: auto;
  min-height: 100%;
  width: calc(100% - 30px);
  margin-left: 30px;
  padding-left: 30px;
  padding-top: 0px;
  border-left: 1px solid #bf1221;
  margin-top: 50px;
}
.conter100principi2{
  height: auto;
  min-height: 100%;
  width: calc(100% - 30px);
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #bf1221;
}
.futuro15{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}

.contergraficasprincipales{
  width: 90%;
  max-width: 300px;
  display: block;
  position: absolute;
  top: 55%;
  overflow: hidden;
  right: 30%;
  z-index: 2;
}
.futuro16{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.contercapa{
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/94.jpg")
}
.mas{
  font-family: museo,serif;
  font-weight: 900 !important;
  font-size: 35px;
}
.mas2{
  font-family: museo,serif;
  font-weight: 900 !important;
  font-size: 35px;
}
.futuro17{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.conterconcurso{
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/95.png");
  overflow: hidden;
}
.imgmancha{
  display: block;
  float: right  ;
  padding-top: 40px;
  max-width: 165px;
}
.futuro18{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
  padding: 50px 0px;
}
.futuro19{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.conterinno{
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/100.jpg");
  overflow: hidden;
}
.imgmanch2{
  display: block;
  float: right  ;
  padding-top: 40px;
  max-width: 300px;
}
.futuro20{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
  padding-top: 50px;
}
.futuro21{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.futuro22{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.conterpriva{
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/104.jpg");
  overflow: hidden;
}
.imgmanch3{
  display: block;
  float: left  ;
  padding-top: 40px;
  max-width: 300px;
}
.padtopimgmanch3{
  margin-top: 230px;
}
.futuro23{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.marleft10icon{
  margin-left: 10px;
}

/* --- empresa --- */
.empresa1{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 100px 0px 50px 0px;
}
.conterempresa1{
  background-color: #d7525d;
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
}
.empresa2{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
  background: url("../img/118.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}
td:hover {
  background-color: rgba(70, 79, 90, .1);
}
td {
  transition: all .5s;
}
.empresa3{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding-top: 50px;
}
.conterestructura{
  width: 90%;
  max-width: 900px;
  display: block;
  float: right;
}
.inicadorestruct{
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 90%;
  max-width: 350px;
}
.empresa4{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.whit250px{
  width: 250px;
}
.pad150pxa{
  padding-top: 300px;
}
.empresa5{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.empresa6{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.nombreconse{
  font-family: museo,serif;
  font-weight: 500 !important;
  font-style: normal;
  font-size: 18px !important;
}
.puestoconse{
  font-family: museo,serif;
  font-weight: 900 !important;
  font-style: normal;
  color: #bf1221;
  font-size: 12px !important;
  text-transform: uppercase;
}
.empresa7{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.imgbarra{
  display: block;
  width: 300px;
}
.backtabla1{
  background-color: #e89199;
}
.backtabla2{
  background-color: #dd6670;
}
.widthcelda{
  width: 400px;
}
.conterpreven{
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/160.jpg");
  overflow: hidden;
}
.empresa8{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 0px 0px 50px 0px;
}
.contercomi1{
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 25px 25px 0px 25px;
  background-color: #d34451;
}
.contercomi2{
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 25px 25px 25px 0px;
  background-color: #871a3c;
}
.contercomi3{
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 25px 25px 0px 25px;
  background-color: #c11524;
  height: auto;
  min-height: 481px;
}
.contercomi4{
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 25px 25px 0px 25px;
  background-color: #ac5470;
  height: auto;
  min-height: 481px;
}
.icon1comi{
  width: 90%;
  display: block;
  float: left;
  max-width: 300px;
}
.icon1comi{
  width: 90%;
  display: block;
  float: left;
  max-width: 150px;
}
.icon2comi{
  width: 90%;
  display: block;
  float: right;
  max-width: 150px;
}
.empresa9{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.empresa9a{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.empresa10{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa11{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa12{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa13{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.empresa14{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa15{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa16{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.conterpintura{
  display: block;
  float: left;
  width: 50px;
  padding-right: 10px;
}
.conterinfopintura{
  display: block;
  float: left;
  width: calc(100% - 50px);
}
.empresa17{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicadorcodigo {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 90%;
  max-width: 380px;
  z-index: 1;
}
.empresa18{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.indicadorsistemas{
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 90%;
  max-width: 380px;
}
.empresa19{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa20{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa21{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.empresa22{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa23{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.empresa24{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.empresa25{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}

/* --- slider overview --- */


.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: black;
}

/* Custom Arrow */
.prev {
  color: #999;
  position: absolute;
  top: 45%;
  left: 3px;
  font-size: 1.5em;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 45%;
  right: 20px;
  font-size: 1.5em;
}
.next :hover {
  cursor: pointer;
  color: black;
}

/* Custom Arrow */
.prev2 {
  color: #999;
  position: absolute;
  top: 45%;
  left: -25px;
  font-size: 1.5em;
}
.prev2 :hover {
  cursor: pointer;
  color: black;
}

.next2 {
  color: #999;
  position: absolute;
  top: 45%;
  right: -25px;
  font-size: 1.5em;
}
.next2 :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}
.flechaslider{
  width: 20px;
}
.textitalic{
  font-style: italic;
}
.listadopuntos{
  list-style: outside !important;
}
.verticaltop{
  vertical-align: top;
}
.gri{
  font-family: museo-sans,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
}
.contergri{
 width: fit-content;
  padding: 8px 10px 7px 32px;
  display: block;
  background-color: #be1823;
}
.contergriblanco{
 width: fit-content;
  padding: 8px 10px 7px 32px;
  display: block;
  background-color: #ffffff;
}





/* --- gente --- */
.gente1{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
  padding: 100px 0px 50px 0px;
}
.gente2{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
  background: url("../img/118.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}
.gente3{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente4{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicador547{
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 460px;
}
.gente5{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.gente6{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente7{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente8{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
  background: url("../img/118.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}
.gente9{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.padespecial{
  padding-top: 35px;
}
.gente10{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente11{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicadorgente11 {
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.gente12{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicadorgente12 {
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}
.gente13{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente14{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente15{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente16{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente17{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente18{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente19{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.gente20{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicadorinfocovid {
  width: 95%;
  display: block;
  margin: 0 auto;
  max-width: 550px;
}
.gente21{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.gente22{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.conterbienestar {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/234.jpg");
  overflow: hidden;
}
.tierrabeinestar{
  width: 90%;
  max-width: 300px;
  display: block;
  float: left;
}
.gente23{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding:0px 0px 50px 0px;
}

/* --- comunidades --- */
.comunidades1{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 100px 0px 50px 0px;
}
.contercomunidades1{
  background-color: #d7525d;
  width: 100%;
  display: block;
  padding: 20px;
  overflow: hidden;
}
.comunidades2{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
  background: url("../img/118.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}
.comunidades3{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.comunidades4{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.conterhipo{
  display: block;
  width: 100%;
  padding: 50px;
  background-color: #c92936;
}
.conterhipo2{
  display: block;
  width: 100%;
  padding: 50px;
  background-color: #d44753;
}
.conterhipo3{
  display: block;
  width: 100%;
  padding: 150px 30px 30px 30px;
  background-color: #942d4e;
}
.comunidades5{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.comunidades6{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicadorrehabilitacion {
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}


/* --- inversionistas --- */

.inversionistas1{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background: url("../img/118.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}


/* --- planeta --- */
.planeta1{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
  padding-top: 50px;
}
.planeta2{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
  background: url("../img/118.jpg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}
.planeta3{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.planeta4{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
}
.planeta5{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.contersistemagestion {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/271.jpg");
  overflow: hidden;
}
.planeta6{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px 0px 0px;
}
.conterhipoverde {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/272.jpg");
  overflow: hidden;
}
.planeta7{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px 0px 0px;
}
.contermobisus {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/275.jpg");
  overflow: hidden;
}
.planeta8{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px 0px 0px;
}
.conterequipoverde {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/277.jpg");
  overflow: hidden;
}
.planeta9{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.conteredge {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  background: url("../img/278.jpg");
  overflow: hidden;
}
.planeta10{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicadorcambiocli {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 1;
}
.planeta11{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.planeta12{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.planeta13{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #d7525d;
  padding: 50px 0px;
}
.planeta14{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.planeta15{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.planeta16{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.planeta17{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.planeta18{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding-top: 50px;
}
.planeta19{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding-top: 50px;
}
.planeta20{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.planeta21{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicadorviveros {
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 90%;
  max-width: 350px;
  z-index: 1;
}
.minheight175{
  min-height: 175px;
}
.planeta23{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.planeta24{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.indicadorhuertos{
  display: block;
  position: relative;
  float: right;
  width: 90%;
  max-width: 350px;
  z-index: 1;
}
.planeta25{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.img299{
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

/* --- anexos --- */
.anex1{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 100px 0px 50px 0px;
}
.anex2{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.imganexos{
  width: 90%;
  display: block;
  margin: 0 auto;
  max-width: 700px;
  padding-top: 50px;
}
.width185{
  width: 185px;
}
.anex3{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.anex4{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.anex5{
  width: auto;
  min-width: 100vw;
  height: auto;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  padding: 50px 0px;
}
.backgris{
  background-color: #828c9a !important;
}
.bordergris{
  border-bottom: 1px solid #dadada;
}
.bordergris2{
  border-right: 1px solid #dadada;
}
.textoheadtabla{
  font-family: museo-sans,sans-serif;
  font-weight: 300 !important;
  font-style: normal;
  font-size: 17px !important;
}
.backverde8{
  background-color: #e02636 !important;
}
.textuppercase{
  text-transform: uppercase;
}
.backverde8a{
  background-color: #dd6670;
}
.backmorado8{
  background-color: #871a3c;
}
.backgris2a{
  background-color: #dd6670;
}
.backgris2{
  background-color: #f9dbdf;
}
.colormorado{
  color: #8c1b44 !important;
}
.titulosasbtabala1{
  font-family: acier-bat-solid,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 19px;
color: #8c1b44;
}
.titulosasbtabala2{
  font-family: acier-bat-solid,sans-serif;
font-weight: 400;
font-style: normal;
font-size: 19px;
color: #5b5b5b;
}
.widthcelda1{
  width: 245px;
}
.widthcelda2{
  width: 500px;
}
.height100{
  min-height: 105px;
  height: auto;
}


.floaright{
  float: right !important;
}
.fixed{
  position: fixed;
  top: 0px;
}

.conterodsocultos{
  width: 100px;
  display: block;
  float: left;
}
.conterodsocultos2{
  width: calc(100% - 100px);
  display: block;
  float: left;
}
.odsactive{
  overflow: visible !important;
  opacity: 1 !important;
  height: auto !important;
  padding-top: 20px !important;
}
.odsapagado{
  overflow: hidden;
  opacity: 0;
  height: 0px;
  transition: all .5s;
  padding-top: 0px;
}
.pulseinfinty{
  animation: pulse infinite;
}
.imgods2:hover{
  cursor: pointer;
  border: 2px solid #bf1221;

}
.pulseinfinty2{
  animation: pulse infinite;
  animation-delay: .2s;
}
.circulorojo{
  border-radius: 0px 0px 800px 800px;
padding: 50px 40px 94px 40px;
margin-bottom: 30px;
}
.modelobackrojo{
  width: 100%;
  display: block;
  padding: 10px;
  background-color: #be1823;
}
.modelobackrojo2{
  width: 100%;
  display: block;
  background-color: #db6a71;
}
.titulosmodelos{
  font-family: canada-type-gibson,sans-serif;
font-weight: 300;
font-style: normal;
font-size: 18px;
text-transform: uppercase;
color: #ffffff;
}
.mas{
  width: 20px;
  display: block;
  margin: 0 auto;
}
.mastres{
  width: 100% !important; 
  display: block;
  margin: 0 auto;
}
.modelobackmorado{
  width: 100%;
  display: block;
  padding: 2px 2px 2px 10px;
  background-color: #70578c;
}
.modelobackverde{
  width: 100%;
  display: block;
  padding: 10px;
  background-color: #009f90;
}
.flechaverde{
  width: 50px;
  display: block;
  margin: 10px auto 11px auto;
}
.modelobackmorado1{
  width: 100%;
  display: block;
  padding: 10px;
  background-color: #70578c;
}
.modelobackrmorado2{
  width: 100%;
  display: block;
  background-color: #9887ae;
}
.modeloactive{
  overflow: visible !important;
  opacity: 1 !important;
  height: auto !important;
  padding: 10px !important;
}
.modeloapagado{
  overflow: hidden;
  opacity: 0;
  height: 0px;
  padding: 0px;
  transition: all .5s;
}
.modelobackrojo:hover{
  cursor: pointer;
}
.modelobackmorado1:hover{
  cursor: pointer;
}
.ocultomatriz{
  width: 90%;
display: block;
margin: 0 auto;
position: absolute;
top: 0;
opacity: 0;
transition: all .5s;
}
.displayblock {
  display: block !important;
}
.opacity1{
  opacity: 1 !important;
}
.minheight100px{
  min-height: 100px;
}
.displayblock:hover{
  cursor: pointer;
}

/* --- descargas --- */
.descargas{
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  padding-top: 100px;
}
.portadadescargas{
  width: 90%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}


.backmenurojo{
  background-color: rgba(191,18,33, .9);
}




/* --- animaciones --- */

.ani1{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani2{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani3animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani4animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani5animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani6animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani7animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani8animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani9animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani10animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani11animate{
  animation: fadeIn;
  animation-delay: 2.7s;
}
.ani12animate{
  animation: fadeInUp;
  animation-delay: .3s;
}
.ani13animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani14animate{
  animation: fadeInRight;
  animation-delay: .9s;
}
.ani15animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani16animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani17animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani18animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani19animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani20animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani21animate{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani22animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani23animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani24animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani25animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani26animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani27animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani28animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani29animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani30animate{
  animation: fadeInRight;
  animation-delay: .9s;
}
.ani31animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani32animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani33animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani34animate{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani35animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani36animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani37animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani38animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani39animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani40animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani41animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani42animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani43animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani44animate{
  animation: fadeIn;
  animation-delay: 2.7s;
}
.ani45animate{
  animation: fadeIn;
  animation-delay: 3s;
}
.ani46animate{
  animation: fadeIn;
  animation-delay: 3.3s;
}
.ani47animate{
  animation: fadeIn;
  animation-delay: 3.6s;
}
.ani48animate{
  animation: fadeIn;
  animation-delay: 3.9s;
}
.ani49animate{
  animation: fadeIn;
  animation-delay: 4.2s;
}
.ani50animate{
  animation: fadeIn;
  animation-delay: 4.5s;
}
.ani51animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani52animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani53animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani54animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani55animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani56animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani57animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani58animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani59animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani60animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani61animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani62animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani63animate{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani64{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani65{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani66animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani67animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani68animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani69animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani70animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani71animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani72animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani73animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani74animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani75animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani76animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani77animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani78animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani79animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani80animate{
  animation: fadeIn;
  animation-delay: 2.7s;
}
.ani81animate{
  animation: fadeIn;
  animation-delay: 3s;
}
.ani82animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani83animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani84animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani85animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani86animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani87animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani88animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani89animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani90animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani91animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani92animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani93animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani94animate{
  animation: fadeIn;
  animation-delay: 2.7s;
}
.ani95animate{
  animation: fadeIn;
  animation-delay: 3s;
}
.ani96animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani97animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani98animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani99animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani100animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani101animate{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani102animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani103animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani104animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani105animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani106animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani107animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani108animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani109animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani110animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani111animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani112animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani113animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani114animate{
  animation: fadeIn;
  animation-delay: 2.7s;
}
.ani115animate{
  animation: fadeIn;
  animation-delay: 3s;
}
.ani116animate{
  animation: fadeIn;
  animation-delay: 3s;
}
.ani117animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani118animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani119animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani120animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani121animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani122animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani123animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani124animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani125animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani126animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani127animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani128animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani129animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani130animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani131animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani132animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani133animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani134animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani135animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani136animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani137animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani138animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani139animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani140animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani141animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani142animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani143animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani144animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani145animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani146animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani147animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani148animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani149animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani150animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani151animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani152animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani153animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani154animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani155animate{
  animation: fadeIn;
  animation-delay: 2.7s;
}
.ani156animate{
  animation: fadeIn;
  animation-delay: 3s;
}
.ani156animate{
  animation: fadeIn;
  animation-delay: 3.3s;
}
.ani157animate{
  animation: fadeIn;
  animation-delay: 3.6s;
}
.ani158animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani159animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani160animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani161animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani162animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani163animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani164animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani165animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani166animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani167animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani168animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani169animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani170animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani171animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani172animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani173animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani174animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani175animate{
  animation: fadeInRight;
  animation-delay: .3s;
}
.ani176animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani177animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani178animate{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani179animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani180animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani181animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani182animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani183animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani184animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani185animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani186animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani187animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani188animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani189animate{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani190animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani191animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani192animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani193animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani194animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani195animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani96{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani97{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani198animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani199animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani200animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani201animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani202animate{
  animation: fadeInRight;
  animation-delay: .3s;
}
.ani203animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani204{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani205{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani206animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani207animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani208animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani209animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani210animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani211animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani212animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani213animate{
  animation: fadeInUp;
  animation-delay: .3s;
}
.ani214animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani215animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani216animate{
  animation: fadeInUp;
  animation-delay: .3s;
}
.ani217animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani218animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani219animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani220animate{
  animation: fadeInUp;
  animation-delay: .3s;
}
.ani221animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani222animate{
  animation: fadeInRight;
  animation-delay: .3s;
}
.ani223animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani224animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani225animate{
  animation: fadeInUp;
  animation-delay: .3s;
}
.ani226animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani227animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani228animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani229animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani230animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani231animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani232animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani233animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani234animate{
  animation: fadeInRight;
  animation-delay: .3s;
}
.ani235animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani236{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani237animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani238animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani239animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani240animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani241animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani242animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani243animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani244animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani245animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani246animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani247animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani248animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani249animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani250animate{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani251animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani252animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani253animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani254animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani255animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani256animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani257animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani258animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani259animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani260animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani261animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani262animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani263animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani264animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani265{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani266{
  animation: fadeInRight;
  animation-delay: .9s;
}
.ani267{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani268animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani269{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani270{
  animation: fadeInRight;
  animation-delay: .9s;
}
.ani271animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani272animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani273animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani274animate{
  animation: fadeInRight;
  animation-delay: .9s;
}
.ani275animate{
  animation: fadeInLeft;
  animation-delay: .9s;
}
.ani276animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani277animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani278animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani279animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani280animate{
  animation: fadeInLeft;
  animation-delay: 1.2s;
}
.ani281animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani282animate{
  animation: fadeInUp;
  animation-delay: .6s;
}
.ani283{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani284{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani285{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani286{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani287animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani288animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani289animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani290animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani291animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani292animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani293animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani294animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani295animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani296animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani297animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani298animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani299animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani300animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani301animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani302animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani303animate{
  animation: fadeIn;
  animation-delay: 2.4s;
}
.ani304animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani305animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani306animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani307animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani308animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani309animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani310animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani311animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani312animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani313animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani314animate{
  animation: fadeInRight;
  animation-delay: .3s;
}
.ani315animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani316animate{
  animation: fadeInLeft;
  animation-delay: .3s;
}
.ani317animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani318animate{
  animation: zoomIn;
  animation-delay: .9s;
}
.ani319animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani320animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani321animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani322animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani323animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani324animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani325animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani326animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani327animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani328animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani329animate{
  animation: fadeIn;
  animation-delay: 2.1s;
}
.ani330animate{
  animation: fadeInLeft;
  animation-delay: .6s;
}
.ani331animate{
  animation: fadeInRight;
  animation-delay: .6s;
}
.ani332animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani333animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani334animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani335animate{
  animation: fadeIn;
  animation-delay: 1.2s;
}
.ani336animate{
  animation: fadeIn;
  animation-delay: 1.5s;
}
.ani337animate{
  animation: fadeIn;
  animation-delay: 1.8s;
}
.ani338animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani339animate{
  animation: fadeInRight;
  animation-delay: .9s;
}
.ani340animate{
  animation: zoomIn;
  animation-delay: .9s;
}
.ani341animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani342animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani343animate{
  animation: fadeIn;
  animation-delay: .6s;
}
.ani344animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani345animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani346animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani347animate{
  animation: fadeInUp;
  animation-delay: .9s;
}
.ani348animate{
  animation: fadeIn;
  animation-delay: .3s;
}
.ani349animate{
  animation: fadeIn;
  animation-delay: .9s;
}
.ani350{
  animation: fadeIn;
  animation-delay: .6s;
}
































































































































































































































































































































































































